{% extends 'base.html' %}
{% block about %}
    <div class="about-page page">
        <h2 class="title">О нас</h2>
        <div class="description">
            <div>
                <h3 class="sub-title">Немного истории</h4>
                <p> В далеком 1999 году, создавая нашу сеть Pizza House, мы были одной из первых отечественных компаний, 
                которая выбрала концепцией своей работы Доставку готовой еды. Сегодня невозможно в это поверить, но в то время мы стали первыми в Москве, кто начал эту деятельность. Достаточно быстро вслед за нами появились и другие доставщики пиццы, но весь путь, который мы прошли – был впервые. О том, как создавалась и совершенствовалась курьерская сеть, как разрабатывалось с нуля программное обеспечение,
                и о других подводных камнях нашей деятельности можно рассказывать часами… Все было впервые и нас охватывал энтузиазм первооткрывателей. 
                Тем, кто пошел за нами, уже было намного проще, - мы расчистили путь и показали на своих достижениях и ошибках, как надо действовать. 
                Сегодня мы гордимся нашей решимостью и смелостью сделать первый шаг в неизвестность. Гордимся тем, что сегодня, как и в конце прошлого 
                тысячелетия, Вы наслаждаетесь вкуснейшей пиццей, не выходя из Вашей уютной квартиры или офиса.</p>
                <h3 class="sub-title">ФИЛОСОФИЯ РАБОТЫ НАШЕЙ КОМАНДЫ:</h4>
                <h4>Безупречный рецепт</h4>
                <p>Без преувеличения можно сказать, что рецепты всех наших пицц уникальны. Созданные на основе традиционных итальянских рецептов и дополненные нашим шеф-поваром, они представляют собой законченный образец изысканного вкуса.
                    Особую гордость мы испытываем за наше тесто, которое у нас не просто вкусное, а наивкуснейшее. Оптимальный баланс толщины и легкости. На Ваш вкус, тесто можно раскатать тонким слоем или сделать пиццу стандартной толщины. Любой из выбранных вариантов позволит Вам насладиться его прекрасным вкусом. Наше тесто никогда не вызовет у Вас чувства тяжести, потому что приготовлено на родниковой воде, по особой технологии и с соблюдением четко выверенных пропорций. Кроме этого, него мы добавляем секретный ингредиент, который делает нашу пиццу особенной.             </p>
                <h4>Отборные продукты</h4>
                <p>Мы являемся сторонниками тех кулинаров, которые утверждают, что только из самых лучших продуктов можно приготовить по-настоящему вкусное блюдо. Для наших пицц мы используем только самые качественные и проверенные, экологически чистые продукты: итальянский сыр Моцарелла, настоящую салями Пепперони, сочнейшие ветчину, говядину и бекон от проверенного производителя, ароматнейшие томаты, отборные шампиньоны, самые красивые перчики халапеньо, свежайшие морепродукты и аппетитное мясо цыпленка. Все эти продукты поступают с утра на кухню и обновляются каждые несколько часов. Мы никогда не используем остатки продуктов, срок хранения которых подошел к концу. Все только самое свежее и вкусное!
                    Идеальное исполнение
                    Прежде чем сделать первую пиццу для клиента, все наши повара проходят обучение в течение нескольких недель у опытных мастеров. И только после того, как наш шеф-повар примет у новичка экзамен, тот будет допущен выпекать пиццы самостоятельно. Пицца – это продукт, требующий опытной и умелой руки, готовящей с любовью. Только так мы сможем гарантировать Вам наше постоянное высшее качество приготовления.</p>
                <h4>Умный сервис</h4>
                <p>Концепция нашей компании предполагает быструю доставку горячих и свежих блюд. Приготовленный заказ и в течение часа (зависит от района) доставит Вам опытный и прошедший тщательный отбор курьер в специальной, сохраняющей тепло термосумке. Каждый клиент, совершая заказ у нас, получает информацию по смс, о том, что происходит с его заказом. В любой момент Вы также можете отследить Ваш заказ при помощи оператора.</p>
                <h4>Гарантия качества</h4>
                <p>Все наши продукты проходят многоступенчатый контроль качества. На каждом этапе - от закупки, до выхода готового блюда, мы задаем самые высокие стандарты, потому что наша цель – чтобы Вы возвращались к нам снова и снова. Мы гарантируем качество нашего продукта. Если вас что-то не устроило по объективным причинам - звоните нам, и мы всегда заменим и доставим Ваш заказ за наш счет.</p>
                <h4>Забота о клиенте</h4>
                <p>Вся наша деятельность направлена на то, чтобы Вы, наш любимый клиент, имели надежного и верного партнера, который приносит Вам радость и облегчает жизнь. Мы стремимся, чтобы ассоциации с компанией Pizza House у Вас были только самые хорошие и радостные.
                    Мы заботимся о том, чтобы Вам было максимально легко сделать заказ на нашем сайте. Для этого мы обновили его дизайн и структуру, сделали его более удобным и простым. Мы значительно облегчили процедуру регистрации; позаботились о том, чтобы Вам были более понятны условия доставки; сделали фильтр ингредиентов; а также традиционно сохранили возможность различных способов оплаты: наличными, банковской картой онлайн, банковской картой при помощи терминала, а также системой Яндекс.Деньги.
                    </p>
                <h3 class="sub-title">Оставайтесь с Pizza House! Желаем Вам приятного аппетита!</h3>
            </div>
        </div>
    </div>

{% endblock about %}
