{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Pizza House - доставка пиццы</title>
</head>
<body>
    <header>
        <div class="header-top">
        <div class="logo-container">
            <img src="{% static 'media/main-logo.png' %}" alt="" class="main-logo">
            <h1 class="main-title">Pizza house</h1>
        </div>
            {% if user.is_authenticated %}
                <div class="reg-container">
                    <p>{{user.username}}</p>
                    <a href="{% url 'logout_page' %}" class="logout">logout</a>
                </div>
            {% else %}
                <div class="reg-container">
                    <a href="{% url 'user_login_page' %}">Войти</a>
                    <a href="{% url 'register_user' %}">Регистрация</a>
                </div>
            {% endif %}
        </div>
    </header>
    <nav class="main-nav">
        <button class="nav-toggle"><label for="nav-toggle"></label></button>
		<input type="checkbox" id="nav-toggle">
        <ul class="nav-list">
            <li class="nav-item"><a href="{% url 'catalog' %}">Главная</a></li>
            <li class="nav-item"><a href="{% url 'actions' %}">Акции</a></li>
            <li class="nav-item"><a href="{% url 'about' %}">О нас</a></li>
            <li class="nav-item"><a href="{% url 'contacts' %}">Контакты</a></li>
        </ul>
        <div class="cart-container">
            <a href="{% url 'cart' %}" class="cart">
                <span class="cart-title">Корзина</span>
                <img src="{% static 'media/cart.png' %}" alt="cart" class="cart-logo">
                <span class="quantity">0</span></a>
        </div>
    </nav>
    <main>
        {% block catalog %}{% endblock catalog %}
        {% block actions %}{% endblock actions %}
        {% block user %}{% endblock user %}
        {% block user_login %}{% endblock user_login %}
        {% block about %}{% endblock about %}
        {% block contacts %}{% endblock contacts %}
         {% block cart %}{% endblock cart %}
         {% block typ %}{% endblock typ %}
    </main>
    <footer>
        <p class="author">Created by: Ruslan Zhonin</p>
    </footer>
    <script src="{% static 'js/cart.js' %}"></script>
    
</body>
</html>